@page "/"

<PageTitle>Index</PageTitle>

<h1>Turn System App</h1>
<p>This is my turn system app made in Blazor.</p>
<p>The "Turn System" page displays the list of people.</p>
<p>The "Edit Turn System" page allows you to edit who is on the "Turn System" page and how many weeks to generate a list for.</p>